<div class="container-fluid Roadin-container">
  <div class="<% if current_user %>col-md-3 col-md-offset-1 <% else %> col-md-4 <% end %>">
    <!-- header informations -->
    <% if !current_user %>
    <div class="Roadin-container--header-visitor">
      <%= link_to "Roadin'", root_path, class: 'Roadin-container--header-logo-visitor' %>
      <h5> Bienvenue sur la page de voyage </h5>
      <h6> Ici vous pouvez créer votre voyage étape par étape, et inviter vos amis. </h6>
    </div>
    <% end %>
    <div class="Roadin-container--header">
      <h4> <%= @travel.title %> </h4>
      <% if !current_user %>
        <p> Créé par <%= @user.name %> </p>
      <% end %>
      <p> <%= @travel.description %> </p>
      <p class="Roadin-container--header-dates"> <%= @travel.begin_date %> - <%= @travel.end_date %></p>
      <% if @travel.time_respect? %>
        <span class="Roadin-label Roadin-label--blue" data-toggle="tooltip" data-placement="right" title="Vous avez <%= @travel.time_more_less %> jour restant à votre voyage">
          <%= @travel.time_more_less %> day<% if @travel.time_more_less > 1 %>s<% end %> left
        </span>
      <% else %>
        <span class="Roadin-label Roadin-label--cherry" data-toggle="tooltip" data-placement="right" title="Vous avez <%= @travel.time_more_less %> jours en trop dans votre voyage">
          <%= @travel.time_more_less %> day<% if @travel.time_more_less > 1 %>s<% end %> loose
        </span>
      <% end %>
      <p style="padding-top: 10px;"> Budget de <%= @travel.display_budget %> </p>
      <p> <%= @travel.steps.count %> étape<% if @travel.steps.count > 1 %>s<% end %> </p>
      <% if @travel.steps.count != 0 %>
        <p class="Roadin-container--header-budget"> (soit en moyenne : <%= @travel.avg_per_steps %> € par étape) </p>
      <% end %>
      <%= image_tag(@user.picture, :alt =>  "#{@user.name} profile picture from facebook", class: "Roadin-container--header-participants", :data => { :toggle => 'tooltip', :placement => 'top', :title => @user.name }) %>
      <% @participants.each do |participant| %>
        <%= image_tag(participant.picture, :alt =>  "#{participant.name} profile picture from facebook", class: "Roadin-container--header-participants", :data => { :toggle => 'tooltip', :placement => 'top', :title => participant.name }) %>
      <% end %>
    </div>

    <!-- if not current user display toolboxes -->
      <!-- to do -->
    <!-- end -->

    <!-- different choices -->
    <% if current_user %>
    <a href="javascript:void(0)" id="city_country"  class="click-method-1">
      <div class="Roadin-container--cards" id="Roadin_click_first_modal">
        <h6 class="Roadin-container--cards-title"> Choisissez une ville / un pays</h6>
        <h5 class="Roadin-container--cards-subtitle"> Ajouter une étape </h5>
        <p class="Roadin-container--cards-text"> Utilisez simplement le formulaire pour ajouter une étape. </p>
      </div>
    </a>

    <a href="javascript:void(0)" class="click-method-3" id="friends_list">
      <div class="Roadin-container--cards" id="Roadin_click_second_modal">
        <h6 class="Roadin-container--cards-title"> Invitez vos amis </h6>
        <h5 class="Roadin-container--cards-subtitle"> Ajoutez des amis à votre voyage !</h5>
        <p class="Roadin-container--cards-text"> Vos amis facebook attendent de vous rejoindre ! </p>
      </div>
    </a>

    <a href="javascript:void(0)" class="click-method-4">
      <div class="Roadin-container--cards" id="new_step_travel">
        <h6 class="Roadin-container--cards-title"> Vos boîtes à outils </h6>
        <h5 class="Roadin-container--cards-subtitle"> Restaurant, notes, hôtels .. </h5>
        <p class="Roadin-container--cards-text"> Pour aider les autres à voyager sereinement ! </p>
      </div>
    </a>

    <a href="javascript:void(0)" class="click-method-5">
      <div class="Roadin-container--cards" id="new_step_travel">
        <h6 class="Roadin-container--cards-title"> Découvrez </h6>
        <h5 class="Roadin-container--cards-subtitle"> Qu'est-ce que les autres personnes ont aimé </h5>
        <p class="Roadin-container--cards-text">  à côté de vous, d'autres utilisateurs ont déjà une éxpérience ! </p>
      </div>
    </a>
    <% end %>
  </div>

  <div class="Roadin-map">
    <div class="map col-md-8" id="map" style="padding: 0;"></div>
  </div>
  

  <!-- steps manager -->
  <div class="Roadin-step-manager col-md-7">
    <h4 class="Roadin-step-manager--title"> Gérer les étapes &nbsp;<i class="ion-ios-arrow-up" id="Roadin-step-manager--opener" style="color: #ffffff;"></i> </h4>
    <div class="Roadin-step-manager--arrow-back">
      <i class="ion-ios-arrow-back Roadin-step-manager--arrow-back-icon" id="prev_steps"></i>
    </div>
    <div class="data-steps">
      <% @travel.steps.each do |step| %>
          <div class="Roadin-step-manager--cards">
            <h6><%= step.place %> | <%= step.country.emoji_flag %></h6>
            <!--<p class="step-manager-time"> <%#= step.step_duration %> </p>-->
            <%= link_to 'Voir', travel_step_path(@travel, step), class: 'Roadin-button-small Roadin-button-small--state-blue' %>
            <% if !step.toolbox.nil? %>
              <%= link_to 'Outils', travel_step_toolbox_path(@travel, step, step.toolbox.id), class: 'Roadin-button-small Roadin-button-small--state-cherry' %>
            <% end %>
          </div>
      <% end %>
    </div>
    <div class="Roadin-step-manager--arrow-next">
      <i class="ion-ios-arrow-forward Roadin-step-manager--arrow-bnext-icon " id="next_steps"></i>
    </div>
  </div>
  <!-- end steps manager -->

  <!-- modal custom for pages -->

    <!-- modal for create steps -->
    <div class="Roadin-modal col-md-6" id="Roadin_first_modal">
      <h3> Ajoutez une étape à votre voyage ! <%= Emoji.find_by_alias("smiley").raw %></h3>
      <%= render partial: 'steps/form_new_step' %>
    </div>

    <div class="Roadin-modal col-md-6" id="Roadin_second_modal">
      <h3>Ajoutez vos amis au voyage ! <%= Emoji.find_by_alias("rocket").raw %></h3>
      <%= render partial: 'participants/form_for_new_invite' %>
    </div>
</div>

<%= javascript_include_tag "mapbox.js"  %>

<script type="text/javascript" charset="utf-8">
        var t_id = "<%= @travel.id %>";
        grabTravelData(t_id);
</script>
