<div class="container-fluid user-container-roadin">
  <div class="col-md-3 col-md-offset-1">
    <!-- header informations -->
    <div class="header-describe-travel-roadin">
      <h5> <%= @travel.title %> </h5>
      <p> <%= @travel.description %> </p>
      <p class="travel-dates-roadin"> <%= @travel.begin_date %> - <%= @travel.end_date %></p>
      <% if @travel.time_respect? %>
        <span class="label label-success-roadin" data-toggle="tooltip" data-placement="right" title="you have <%= @travel.time_more_less %> day left as your travel date mentioned">
          <%= @travel.time_more_less %> day<% if @travel.time_more_less > 1 %>s<% end %> left
        </span>
      <% else %>
        <span class="label label-danger-roadin" data-toggle="tooltip" data-placement="right" title="you have <%= @travel.time_more_less %> day loose as your travel date mentioned">
          <%= @travel.time_more_less %> day<% if @travel.time_more_less > 1 %>s<% end %> loose
        </span>
      <% end %>
      <p style="padding-top: 10px;"> Budget de <%= @travel.display_budget %> </p>
      <p> <%= @travel.steps.count %> step<% if @travel.steps.count > 1 %>s<% end %> </p>
      <% if @travel.steps.count != 0 %>
        <p class="travel-budget-avg"> (soit en moyenne : <%= @travel.avg_per_steps %> € par étape) </p>
      <% end %>
    </div>

    <!-- different choices -->
    <a href="javascript:void(0)" id="city_country"  class="click-method-1">
      <div class="travel-choice" id="new_step_travel">
        <h6> Choose a city / country</h6>
        <h5> Add a step </h5>
        <p> Just use the form and type a city or a country to find it. </p>
      </div>
    </a>

    <a href="javascript:void(0)" class="click-method-3">
      <div class="travel-choice" id="new_step_travel">
        <h6> Invite friends </h6>
        <h5> Add friends to your projet </h5>
        <p> Your facebook friends can participe to the creation of the trip ! </p>
      </div>
    </a>

    <a href="javascript:void(0)" class="click-method-4">
      <div class="travel-choice" id="new_step_travel">
        <h6> Your toolbox </h6>
        <h5> Restaurant, notes, hostels .. </h5>
        <p> Anote all things you need to know for the trip ! and share the good deal with people ! </p>
      </div>
    </a>

    <a href="javascript:void(0)" class="click-method-5">
      <div class="travel-choice" id="new_step_travel">
        <h6> Discover </h6>
        <h5> What people loved around you ! </h5>
        <p>  This is what people love near to your trip steps ! </p>
      </div>
    </a>

  </div>
  <div class="map col-md-8" id="map"></div>

  <!-- steps manager -->
  <div class="step-manager-roadin-on-map col-md-7">
    <h4> Steps manager &nbsp;<i class="ion-ios-arrow-up" id="close_open_step_manager" style="color: #ffffff;"></i> </h4>
    <div class="arrow-back-step-manage">
      <i class="ion-ios-arrow-back arr" id="prev_steps"></i>
    </div>
    <div class="data-steps">
      <% @travel.steps.each do |step| %>
          <div class="each-steps-instance">
            <h6><%= step.place %></h6>
            <!--<p class="step-manager-time"> <%#= step.step_duration %> </p>-->
            <%= link_to 'See', travel_step_path(@travel, step), class: 'btn btn-cst-blue-xs btn-xs' %>
            <% if !step.toolbox.nil? %>
              <%= link_to 'Toolbox', travel_step_toolbox_path(@travel, step, step.toolbox.id), class: 'btn btn-cst-cherry-xs btn-xs' %>
            <% end %>
          </div>
      <% end %>
    </div>
    <div class="arrow-next-step-manage">
      <i class="ion-ios-arrow-forward arr" id="next_steps"></i>
    </div>
  </div>
  <!-- end steps manager -->

  <!-- modal custom for pages -->

    <!-- modal for create steps -->
    <div class="modal-type-roadin modal-roadin col-md-8" id="modal_roadin">
      <h3> Add a step to your trip ! <%= Emoji.find_by_alias("smiley").raw %></h3>
      <%= render partial: 'steps/form_new_step' %>
    </div>
</div>

<%= javascript_include_tag "mapbox.js"  %>

<script type="text/javascript" charset="utf-8">
        var t_id = "<%= @travel.id %>";
        grabTravelData(t_id);
</script>
