<%= form_for [@travel, Step.new] do |f| %>
    <label> Lieu de l'étape </label>
    <%= f.text_field :place, class: 'form-control', placeholder: 'e.g: France, United-States...', id: 'address-input' %>
    <label> Pays </label>
    <br>
    <%= f.select :country do %>
		<% ISO3166::Country.all.each do |country| %>
			<option value="<%= country.alpha2 %>"><%= country.name %> <%= country.emoji_flag %> </option>
		<% end %>
    <% end %>
    <br>
    <label> Temps sur place </label>
    <%= f.text_field :time_to_stay, class: 'form-control', placeholder: 'e.g: 1, 2 or 3' %>
    <label> Décrivez votre étape </label>
    <%= f.text_area :step_description, class: 'form-control', placeholder: 'What you will do during the step' %>
	<br>
	<i class="ion-android-walk"></i> &nbsp; <label class="checkbox-inline"><%= f.check_box :foot %>À pied&nbsp; </label>
	<i class="ion-android-bicycle"></i> &nbsp; <label class="checkbox-inline"><%= f.check_box :cycle %>Vélo/Moto&nbsp; </label>
	<i class="ion-android-car"></i> &nbsp; <label class="checkbox-inline"><%= f.check_box :car %>Voiture&nbsp; </label>
	<i class="ion-android-subway"></i> &nbsp; <label class="checkbox-inline"><%= f.check_box :train %>&nbsp; Train/Bus</label>
	<i class="ion-android-boat"></i> &nbsp; <label class="checkbox-inline"><%= f.check_box :boat %>&nbsp; Bateau</label>
	<i class="ion-plane"></i> &nbsp; <label class="checkbox-inline"><%= f.check_box :plane %> &nbsp; Avion</label>
    <br>
    <%= f.submit 'Créer', class: 'Roadin-button Roadin-button--state-cherry' %>
<% end %>
