<div class="container-fluid user-container-roadin">
  <div class="col-md-10 col-md-offset-1" style="padding-top: 10px;">
    <%= link_to travel_path(@travel) do %>
      <i class="ion-arrow-left-c">&nbsp;Go Back</i>
    <% end %>
    
    <h1> <%= @step.place %> | <%= @step.country.emoji_flag %> </h1>
    <h5 class="travel-mention-step"> <%= @travel.title %>  </h5>
    <div class="well"> 
      <p> <%= @step.country.name %> | <%= @step.country.region %> | <%= @step.country.latitude_dec %> | <%= @step.country.longitude_dec %></p>
    </div>
    <p> <%= @step.step_description %> </p>
    <p> <%= @step.step_duration %> on <%= @travel.time_for_travel %> days </p>

    <% if !@step.toolbox %>
    <!-- toolbox manager -->
    <button class="btn btn-custom-cherry" data-toggle="collapse" data-target="#toolbox_collapse">
      <span> Create your toolbox <i class="ion-help-circled" data-toggle="toolbox" data-placement="right" title="the toolbox is a way to share tips and tricks about the steps and the city, for other people who want to discover this place !"></i></span>
    </button>
    <!-- partial renderer -->
    <div class="collapse" id="toolbox_collapse">
      <div class="well">
        <%= render partial: 'steps/form_new_toolbox' %>
      </div>
    </div>
    <!-- Toolbox manager -->
    <% else %>
      <%= link_to 'See your toolbox', travel_step_toolbox_path(@travel, @step, @step.toolbox), class: 'btn btn-custom-cherry' %>
    <% end %>

    <!-- default buttons for manage -->
    <%= link_to 'Edit the step', edit_travel_step_path(@travel, @step), class: 'btn btn-custom-blue' %>
    <!-- end default button for manage -->
  </div>
</div>
