<!-- user sidebar -->
<div class="col-md-2 user-menu-roadin">
  <div class="user-logo">
    <%= link_to "Roadin'", root_path, class: 'roadin-logo-user' %>
  </div>
  <div class="header-roadin-user-infos">
    <%= image_tag(current_user.picture, :alt =>  "#{current_user.name} profile picture from facebook", class: "roadin-pic") %>
    <p class="user-name-roadin"><%=  current_user.name %></p>
  </div>
  <div class="nav-user-roadin">
    <%= link_to 'Dashboard', user_path(current_user) %>
    <a href="#">Trip Studio</a>
    <a href="#">My map</a>
    <a href="#">Explore</a>
    <%= link_to 'Friends', friends_path %>
    <a href="#">Solutions</a>
  </div>
</div>