<!-- user sidebar -->
<div class="col-md-1 user-menu-roadin">
  <div class="user-logo">
    <%= link_to "Roadin'", root_path, class: 'roadin-logo-user' %>
  </div>
  <div class="header-roadin-user-infos">
    <%= image_tag(current_user.picture, :alt =>  "#{current_user.name} profile picture from facebook", class: "roadin-pic") %>
    <p class="user-name-roadin"><%=  current_user.name %></p>
  </div>
  <div class="nav-user-roadin">
    <i class="ion-android-home"></i><%= link_to 'Profile', user_path(current_user) %>
    <i class="ion-android-pin"></i><a href="#">Trip Studio</a>
    <i class="ion-android-globe"></i>
      <% if current_user.world %>
        <%= link_to 'My World', user_world_path(current_user) %>
      <% else %>
        <%= link_to 'My World', new_user_world_path(current_user) %>
      <% end %>
    <i class="ion-android-compass"></i><%= link_to 'Explore', discover_path %>
    <i class="ion-android-contacts"></i><%= link_to 'Friends', friends_path %>
    <i class="ion-android-bulb"></i><a href="#">Solutions</a>
  </div>
</div>
